.alt-header {
  margin-top: 25px;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__column {
  /*chat.css 땜에 추가*/
  width: 33%;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
  margin-left: 0px;
}

.alt-header__column:nth-child(2) {
  /*chat.css 땜에 추가*/
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex; /*chat.css 땜에 추가*/
  justify-content: flex-end; /*chat.css 땜에 추가*/
}

.alt-header__column span:last-child {
  /*span 을 i 로 했다가, 저 열에 있는 아이콘 3개다 왼쪽 마진 생겨벌임 미친*/
  margin-left: 20px;
}
